
@{
    int? row = ViewBag.row;
    int? offset = ViewBag.offset;
    string Data = ViewBag.Data;
    System.Data.DataSet ds = Users.Models.AllProcs.Pagination(row, offset, Data);
    System.Data.DataTable dt = ds.Tables[0];

    //if (string.IsNullOrEmpty(dt.Rows[0]["Name"].ToString()))
    //{
    //    dt = ds.Tables[0];
    //}
    //else
    //{
    //    dt = ds.Tables[0];
    //}
}

<div class="form-group table-responsive" id="GTable">
    <table class="table table-bordered table-sm text-center">
        <thead style=" background: aliceblue;">
            <tr>
                <th>
                    S.No.
                </th>
                <th>
                    Name
                </th>
                <th>
                    Contact
                </th>
                <th>
                    Email
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Type
                </th>
                <th>
                    Address
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < dt.Rows.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@dt.Rows[i]["Name"].ToString()</td>
                    <td>@dt.Rows[i]["Contact"].ToString()</td>
                    <td>@dt.Rows[i]["email"].ToString()</td>
                    <td>@dt.Rows[i]["Gender"].ToString()</td>
                    <td>@dt.Rows[i]["Type"].ToString()</td>
                    <td>@dt.Rows[i]["Address"].ToString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
