
@{
    ViewBag.Title = "Index";
    System.Data.DataTable dt = Users.Models.AllProcs.GetUsers();
}



<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <span>Show</span>
            <select>
                <option value="">10</option>
                <option value="">20</option>
                <option value="">30</option>
            </select>
            <span>Entry</span>
        </div>
    </div>

    <div class="col-sm-5"></div>

    <div class="col-sm-1">
        <div class="form-group">
            <span class="btn btn-outline-primary">10/20</span>
        </div>
    </div>

    <div class="col-sm-1">
        <div class="form-group">
            <div class="btn-group">
                <button class="btn btn-outline-primary"><i class="fa fa-arrow-left"></i></button>
                <button class="btn btn-outline-primary"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="form-group">
            <input id="Search" name="Search" class="form-control" placeholder="Type Anything..." />
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group table-responsive">
            <table class="table table-bordered table-striped">
                <thead style="background-color:azure;">
                    <tr>
                        <th>
                            S.No.
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Contact
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Address
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < dt.Rows.Count; i++)
                    {
                        <tr>
                            <td>@(i+1)</td>
                            <td>@dt.Rows[i]["Name"].ToString()</td>
                            <td>@dt.Rows[i]["Contact"].ToString()</td>
                            <td>@dt.Rows[i]["email"].ToString()</td>
                            <td>@dt.Rows[i]["Gender"].ToString()</td>
                            <td>@dt.Rows[i]["Type"].ToString()</td>
                            <td>@dt.Rows[i]["Address"].ToString()</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

