@{
    ViewBag.Title = "Index";
    System.Data.DataSet ds = Users.Models.AllProcs.Pagination(10, 0);
    System.Data.DataTable dt = ds.Tables[0];
    System.Data.DataTable dt2 = ds.Tables[1];
}

<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <span>Show</span>
            <select>
                <option value="">10</option>
                <option value="">20</option>
                <option value="">30</option>
            </select>
            <span>Entry</span>
        </div>
    </div>

    <div class="col-sm-7"></div>

    <div class="col-sm-3">
        <div class="form-group">
            <input id="Search" name="Search" class="form-control" placeholder="Type Anything..." onkeyup="Searching()" />
            <!--<button class="btn btn-outline-primary" onclick="Searching()">-->@*Search*@<!--</button>-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group table-responsive">
            <table class="table table-bordered table-striped text-center" id="MyDataTable">
                <thead style="background-color:azure;">
                    <tr>
                        <th>
                            S.No.
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Contact
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Address
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < dt.Rows.Count; i++)
                    {
                        <tr>
                            <td>@(i+1)</td>
                            <td>@dt.Rows[i]["Name"].ToString()</td>
                            <td>@dt.Rows[i]["Contact"].ToString()</td>
                            <td>@dt.Rows[i]["email"].ToString()</td>
                            <td>@dt.Rows[i]["Gender"].ToString()</td>
                            <td>@dt.Rows[i]["Type"].ToString()</td>
                            <td>@dt.Rows[i]["Address"].ToString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <span>Total Records : </span>
            <span class="btn btn-outline-primary" id="totrec">@dt2.Rows[0]["Total"].ToString()</span>
        </div>
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="btn-group">
                <button class="btn btn-outline-primary" onclick="Pagination('0')"><i class="fa fa-arrow-left"></i> Prev</button>
                <button class="btn btn-outline-primary" onclick="Pagination('1')">Next <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>


<script>

    function Pagination(way) {
        //debugger;
        var TotRec = @dt2.Rows[0]["Total"].ToString();
        var numberofRows = 10;
        //var TotPage = Math.ceil(TotRec / numberofRows);
        var TotPage = parseInt(TotRec / numberofRows);
        var offset = (TotPage - 1) * 10;
        if (way == '0') {

            $.get('/Pagination/Page/', { offset: offset, row: numberofRows }, function (data) {

            });
        }
        if (way == '1') {
            $.get('/Pagination/Page/', { offset: offset, row: numberofRows }, function (data) {

            });
        }
    }

    function Searching()
    {
        //debugger;
        var Name = $('#Search').val();
        $.get('/Pagination/Getusers', { Name: Name }, function (data) {
            $('#MyDataTable').html(data);
        });
    }
</script>




