@{
    int? row = ViewBag.row;
    int offset = ViewBag.offset;
    string Data = ViewBag.Data;
    string Column = ViewBag.Column;
    string Table = ViewBag.Table;
    System.Data.DataSet ds = Users.Models.AllProcs.Pagination(row , offset , Column , Table , Data);
    System.Data.DataTable dt = ds.Tables[0];
    string tt = ds.Tables[1].Rows[0]["Total"].ToString();
}

@for (int i = 0; i < dt.Rows.Count; i++)
{
    int sno = offset + i + 1;
    <tr>
        <td>@sno</td>
        <td>@dt.Rows[i]["Name"].ToString()</td>
        <td>@dt.Rows[i]["Contact"].ToString()</td>
        <td>@dt.Rows[i]["email"].ToString()</td>
        <td>@dt.Rows[i]["Gender"].ToString()</td>
        <td>@dt.Rows[i]["Type"].ToString()</td>
        <td>@dt.Rows[i]["Address"].ToString()</td>
    </tr>
}

<script>
    function ttpages() {
        var totalReocrds = @tt;
        var totRows = $('#TotRows').val();
        var remainder = parseInt(totalReocrds) % parseInt(totRows);
        var tot = parseInt(totalReocrds) / parseInt(totRows);
        if (remainder == 0)
            $('#totalPages').html(tot);
        else
            $('#totalPages').html(parseInt(tot) + 1);
    }

    ttpages();
    $('.tRecs').html('@tt');
</script>