@{
    int offset = ViewBag.offset;
    int? row = ViewBag.row;
    System.Data.DataSet ds = Users.Models.AllProcs.Pagination(row,offset);
    System.Data.DataTable dt = ds.Tables[0];
}

    @for (int i = 0; i < dt.Rows.Count; i++)
    {
        int sno = offset + 1 + i;
        <tr>
            <td>@sno</td>
            <td>@dt.Rows[i]["Name"].ToString()</td>
            <td>@dt.Rows[i]["Contact"].ToString()</td>
            <td>@dt.Rows[i]["email"].ToString()</td>
            <td>@dt.Rows[i]["Gender"].ToString()</td>
            <td>@dt.Rows[i]["Type"].ToString()</td>
            <td>@dt.Rows[i]["Address"].ToString()</td>
        </tr>
    }
